* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
html,
body {
  height: 100%;
}
.container {
  margin: 0 auto;
  padding: 0 2%;
  max-width: 1400px;
}
.clear {
  clear: both;
}
/* width */
::-webkit-scrollbar {
  width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #c4c4c4;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #969696;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7e7e7e;
}
header ul {
  list-style-type: none;
}
header li {
  display: inline-block;
  padding: 0 10px;
}
.logomarca {
  font-size: 22px;
  display: inline-block;
}
header {
  background-color: #f0f0f0;
  border-bottom: 2px solid #e6e6e6;
  height: 50px;
}
header .menu-desktop {
  display: block;
}
@media screen and (max-width: 965px) {
  header .menu-desktop {
    display: none;
  }
}
header .menu-desktop .menu-left {
  padding: 10px 0 0 0;
  float: left;
  text-align: left;
}
header .menu-desktop .menu-left ul {
  padding-left: 15px;
  display: inline-block;
  cursor: pointer;
  z-index: 9999;
}
header .menu-desktop .menu-left i {
  font-size: 12px;
}
header .menu-desktop .menu-left a {
  text-decoration: none;
  color: rgba(110, 110, 110, 0.7);
  font-size: 17px;
}
header .menu-desktop .menu-left a:hover {
  transition: 0.4s;
  color: #505050;
}
header .menu-desktop .menu-left #toggle {
  position: relative;
}
header .menu-desktop .menu-left #toggle ul {
  display: none;
  position: absolute;
  padding: 12px;
  top: 33.5px;
  right: -35px;
  background-color: white;
  width: 140px;
  max-width: 140px;
  box-shadow: 0px 0px 19px 3px rgba(204, 204, 204, 0.7);
}
header .menu-desktop .menu-left #toggle li {
  padding: 5px 0;
  display: block;
  border-bottom: 1px solid rgba(110, 110, 110, 0.7);
}
header .menu-desktop .menu-pesquisa {
  padding: 11px 10px 0 0;
  float: right;
  text-align: center;
  position: relative;
}
header .menu-desktop .menu-pesquisa:focus-within i {
  display: none;
}
header .menu-desktop .menu-pesquisa input {
  width: 173px;
  height: 27px;
  border: 1px solid #ccc;
  padding: 0 8px;
  font-size: 14px;
}
header .menu-desktop .menu-pesquisa input:focus {
  outline: 0;
}
header .menu-desktop .menu-pesquisa i {
  color: rgba(142, 142, 142, 0.7);
  position: absolute;
  top: 17px;
  font-size: 14px;
  right: 20px;
}
header .menu-desktop .menu-right {
  padding: 15px 0 0 0;
  float: right;
  text-align: right;
}
header .menu-desktop .menu-right a {
  text-decoration: none;
  color: rgba(110, 110, 110, 0.7);
  font-size: 17px;
}
header .menu-desktop .menu-right a:hover {
  transition: 0.4s;
  color: #505050;
}
header .menu-mobile {
  display: none;
}
@media screen and (max-width: 965px) {
  header .menu-mobile {
    display: block;
  }
}
header .menu-mobile span {
  float: left;
  padding: 12px 0;
}
header .menu-mobile .barras {
  float: right;
  font-size: 25px;
  padding: 12px 10px;
  cursor: pointer;
}
header .menu-mobile .menu-mobile-toggle {
  display: none;
  float: right;
  width: 250px;
  background-color: #eeeeee;
  position: absolute;
  top: 50px;
  right: 0;
  padding: 10px 20px;
  text-align: right;
  box-shadow: 0px 0px 19px 3px rgba(175, 175, 175, 0.7);
  z-index: 999;
}
header .menu-mobile .menu-mobile-toggle ul {
  display: block;
  cursor: pointer;
}
header .menu-mobile .menu-mobile-toggle li {
  display: block;
  padding: 10px 0;
}
header .menu-mobile .menu-mobile-toggle a {
  text-decoration: none;
  color: rgba(110, 110, 110, 0.7);
  font-size: 19px;
}
header .menu-mobile .menu-mobile-toggle a:hover {
  transition: 0.4s;
  color: #505050;
}
header .menu-mobile .menu-mobile-toggle #toggle-mobile i {
  font-size: 11px;
}
header .menu-mobile .menu-mobile-toggle #toggle-mobile ul {
  display: none;
  margin: 10px 0;
  padding-left: 35px;
}
header .menu-mobile .menu-mobile-toggle #toggle-mobile li {
  padding: 7px 0;
  border-bottom: 1px solid rgba(110, 110, 110, 0.7);
  text-align: center;
}
header .menu-mobile .menu-pesquisa-mobile {
  position: relative;
}
header .menu-mobile .menu-pesquisa-mobile:focus-within i {
  display: none;
}
header .menu-mobile .menu-pesquisa-mobile input {
  width: 100%;
  height: 28px;
  border: 1px solid #ccc;
  padding: 0 8px;
  font-size: 14px;
  margin: 10px 0;
}
header .menu-mobile .menu-pesquisa-mobile input:focus {
  outline: 0;
}
header .menu-mobile .menu-pesquisa-mobile i {
  color: rgba(142, 142, 142, 0.7);
  position: absolute;
  top: 17px;
  font-size: 14px;
  right: 16px;
}
section.banner {
  background-color: #f5f5f5;
  width: 100%;
  padding: 90px 0;
}
section.banner .container {
  max-width: 1100px;
  padding: 0 3%;
}
section.banner h1 {
  padding: 10px 0 15px 0;
  font-size: 36px;
  color: rgba(100, 100, 100, 0.9);
}
section.banner h2 {
  font-size: 29px;
  color: #585858;
  padding-bottom: 15px;
  font-weight: normal;
}
section.banner p {
  font-size: 18px;
  color: #585858;
  padding-bottom: 15px;
}
section.destaques {
  width: 100%;
  padding: 30px 0;
}
section.destaques h2 {
  font-size: 29px;
  color: #585858;
  padding: 15px 0;
}
section.destaques .flex-destaques {
  display: flex;
  flex-wrap: wrap;
}
section.destaques .space-destaques {
  display: flex;
  padding: 20px;
  width: 25%;
}
@media screen and (max-width: 1050px) {
  section.destaques .space-destaques {
    width: 33.3%;
  }
}
@media screen and (max-width: 800px) {
  section.destaques .space-destaques {
    padding: 10px;
    width: 50%;
  }
}
@media screen and (max-width: 580px) {
  section.destaques .space-destaques {
    padding: 10px;
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
  }
}
section.destaques .box-destaques {
  border-radius: 3px;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 8px 20px 0 rgba(160, 160, 160, 0.6);
  height: 100%;
  transition: 0.3s;
}
section.destaques .box-destaques:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  section.destaques .box-destaques:hover {
    transform: scale(1);
  }
}
section.destaques .box-destaques div.imagem {
  width: 100%;
}
section.destaques .box-destaques div.imagem img{
    width: 100%;
    min-width: 284.95px;
    max-height: 330px;
}
@media screen and (max-width: 580px) {
    section.destaques .box-destaques{
        min-width: 400px;
    }
    section.destaques .box-destaques div.imagem img{
        width: 100%;
        max-height: 400px;
    }
}
@media screen and (max-width: 440px){
    section.destaques .box-destaques{
        min-width: auto;
    }
}
section.destaques .box-destaques-wraper {
  padding: 5px 15px 25px 15px;
}
section.destaques .box-destaques-wraper h3 {
  font-size: 20px;
  color: #3d3d3d;
  padding-bottom: 8px;
  font-weight: bold;
}

section.destaques .box-destaques-wraper h4 {
font-size: 20px;
  color: #313131;
  font-weight: normal;
  padding: 8px;
}

section.destaques .box-destaques-wraper a {
  display: block;
  width: 200px;
  height: 40px;
  border: 1px solid #1976d2;
  color: #1976d2;
  font-weight: bold;
  text-decoration: none;
  margin-top: 10px;
  padding: 6px 12px;
  text-align: center;
  border-radius: 10px;
  line-height: 23px;
  transition: 0.5s;
  position: relative;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
section.destaques .box-destaques-wraper a:hover {
  background-color: #1976d2;
  color: white;
}
section.destaques .box-destaques-wraper a:nth-of-type(2){
    border: 1px solid #3f51b5;
    color: #3f51b5;
}
section.destaques .box-destaques-wraper a:nth-of-type(2):hover {
    background-color: #3f51b5;
    color: white;
}
section.destaques .box-destaques-wraper a.btn-indisponivel{
    display: block;
    width: 200px;
    height: 40px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
    padding: 6px 12px;
    text-align: center;
    border-radius: 10px;
    line-height: 23px;
    transition: 0.5s;
    border: 1px solid #e53935;
    background-color: #e53935;
    color: white;
}
section.destaques .box-destaques-wraper a.btn-indisponivel:hover{
    background-color: #e53935;
    color: white;
}
footer {
  background-color: #f0f0f0;
  padding: 20px 0;
}

@media screen and (max-width:768px){
    footer.fixed{
        position: relative !important;
    }
}

footer.fixed{
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer p {
  float: left;
  font-size: 18px;
  color: #464646;
  font-weight: normal;
}
@media screen and (max-width: 875px) {
  footer p {
    float: none;
    text-align: center;
    padding-bottom: 10px;
  }
}
footer h3 {
  float: right;
  font-size: 18px;
  color: #464646;
  font-weight: normal;
}
@media screen and (max-width: 875px) {
  footer h3 {
    float: none;
    text-align: center;
  }
}
footer b {
  font-size: 17px;
}

/* estilo página 404 */

section.erro-404 h2{
	text-align: center;
	color: rgb(58, 58, 58);
	font-weight: 400;
	font-size: 28px;
}

section.erro-404 i{
    color: rgb(209, 0, 0);
}

section.erro-404 p{
	margin-top:8px;
	text-align: center;
	font-size: 18px;
	color: rgb(58, 58, 58);
	font-weight: 300;
}

section.erro-404 a{
	color: rgb(58, 58, 58);
    font-weight: bold;
}

.wraper-404{
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	width: 100%;
	left: 50%;
	padding: 0 2%;
	max-width: 1280px;
	text-align: center;
	position: absolute;
	top: 50%;
}

/* estilos da pagina login */
section.login{
    padding: 80px 2%;
}
section.login .container{
    max-width: 900px;
    padding: 40px 4%;
    background-color: #f0f0f0;
    -moz-box-shadow: 3px 4px 84px -2px rgba(163,163,163,0.8);
box-shadow: 3px 4px 84px -2px rgba(163,163,163,0.8);
}
section.login .form-wraper h2{
    color: #464646;
    font-weight:normal;
}
section.login .form-wraper form{
    margin: 0 auto;
    max-width: 350px;
}
section.login .form-wraper .input-wraper{
    margin: 20px 0;
}
section.login .form-wraper .input-wraper h3{
    margin-bottom: 5px;
    font-size: 18px;
    color: #464646;
}
.input-wraper input[type=email], .input-wraper input[type=password], .input-wraper input[type=text], .input-wraper select{
    width: 100%;
    height: 35px;
    border: 1px solid #ccc;
    background-color: white;
    padding-left: 8px;
    font-size: 16px;
    color: #464646;
}

.input-wraper textarea{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    height: 200px;
    resize: none;
    border: 1px solid #ccc;
    color: #464646;
}

section.login .form-wraper .input-wraper:last-of-type, section.cadastro .form-wraper .input-wraper:last-of-type{
    text-align: center;
}
.input-wraper input[type=submit]{
    width: 120px;
    height: 40px;
    border: 1px solid #ccc;
    color: #ffffff;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    background-color: #1e88e5;
    margin: 10px;
}
.input-wraper p{
    margin-top: 10px;
    color: #464646;
    font-size: 18px;
    margin-bottom: 40px;
}

.input-wraper p a{
    color: #1e88e5;
    text-decoration: none;
    font-weight: bold;
}

/* estilos da pagina cadastro */

section.cadastro{
    padding: 80px 2%;
}
section.cadastro .container{
    max-width: 900px;
    padding: 40px 4%;
    background-color: #f0f0f0;
    -moz-box-shadow: 3px 4px 84px -2px rgba(163,163,163,0.8);
box-shadow: 3px 4px 84px -2px rgba(163,163,163,0.8);
}
section.cadastro .form-wraper h2{
    color: #464646;
    font-weight:normal;
}
section.cadastro .form-wraper form{
    margin: 0 auto;
    max-width: 350px;
}
section.cadastro .form-wraper .input-wraper{
    margin: 20px 0;
}
section.cadastro .form-wraper .input-wraper h3{
    margin-bottom: 5px;
    font-size: 18px;
    color: #464646;
}

/* box de erro e sucesso */

.box-alert{
	width: 100%;
	padding:8px 0;
	text-align: center;
    margin: 8px 0;
}

.box-alert a{
    color: white;
    font-weight: bold;
}

.sucesso{
	background: #81c784;
	color: white;
}

.erro{
	background: #F75353;
	color: white;
}

.atencao{
    background: #fbc02d;
	color: white;
}

/* estilos da página produto-single */

section.produto-single{
    padding: 40px 0;
}

section.produto-single .container{
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 1200px;
}

section.produto-single .imagem-produto img{
    max-width: 400px;
}

@media screen and (max-width:768px){
    section.produto-single .container{
        grid-template-columns: 100%;
    }
    section.produto-single .imagem-produto{
        text-align: center;
    }
    section.produto-single .imagem-produto img{
        width: 96%;
    }
}

section.produto-single .descricao-produto{
    margin-top: 20px;
}

section.produto-single .descricao-produto h2{
    margin-bottom: 8px;
    color: #3d3d3d;
}

section.produto-single .descricao-produto p{
    margin: 10px 0;
    text-align: justify;
}

section.produto-single .descricao-produto b{
    margin-right: 4px;
}

section.produto-single .descricao-produto a.compra{
    display: block;
    width: 120px;
    height: 40px;
    border: 1px solid #1976d2;
    color: #1976d2;
    font-weight: bold;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 70px;
    padding: 6px 12px;
    text-align: center;
    border-radius: 10px;
    line-height: 23px;
    transition: 0.5s;
}

section.produto-single .descricao-produto a.compra:hover{
    background-color: #1976d2;
    color: white;
}

section.produto-single .descricao-produto a.btn-indisponivel{
    display: block;
    width: 170px;
    height: 40px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 70px;
    padding: 6px 12px;
    text-align: center;
    border-radius: 10px;
    line-height: 23px;
    transition: 0.5s;
    border: 1px solid #e53935;
    background-color: #e53935;
    color: white;
}
section.destaques .box-destaques-wraper a.btn-indisponivel:hover{
    background-color: #e53935;
    color: white;
}

section.conta .container{
    margin: 40px auto;
    max-width: 900px;
}

section.conta h2.validacao{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #3d3d3d;
    text-align: center;
    line-height: 36px;
}

section.conta h2.validacao i{
    font-size: 34px;
}

section.conta h2.validacao a{
    color: #1d7ccf;
}

section.conta .conta-content h2{
    text-align: left;
    color: #3d3d3d;
}

section.conta .conta-content h3{
    margin: 8px 0;
    color: #3d3d3d;
}

section.conta .links-adm{
    text-align: center;
    margin: 40px 0;
}

section.conta .links-adm input{
    width: 250px;
    display: block;
    margin: 10px auto;
    padding: 8px 6px;
    font-size: 15px;
}

section.gerenciar .container{
    max-width: 1100px;
    margin: 30px auto;
}

section.gerenciar h2{
    color: #3d3d3d;
    margin-bottom: 20px;
}

section.editar h2{
    color: #3d3d3d;
    margin: 20px;
}

/* tabela dos livros */ 

.wraper-table{
	overflow-x: auto;
}

table{
	font-weight: 300;
	min-width: 900px;
	margin:20px 0;
	width: 100%;
	border-collapse: collapse;
}

table tr:nth-of-type(1){
	background: #1976d2;
	color: white;
}

table tr{
	border-bottom: 1px solid #ccc;
    color: #555;
}

table td{
	padding: 8px;
}

table a.btn{
	font-weight: normal;
	font-size: 13px;
	color: white;
	text-decoration: none;
	padding: 4px 6px;
}

a.btn{
    font-weight: normal;
	font-size: 13px;
	color: white;
	text-decoration: none;
	padding: 4px 6px;
}

a.btn.edit{background: #F4B03E;}
a.btn.delete{background: #E05C4E;}

/*Formulários de contato do box-content*/

.box-content form{
    max-width: 600px;
    margin: 30px auto;
}

.box-content form label{
	font-size: 17px;
	font-weight: 300;
	color: black;
	display: block;
}

.box-content .form-group{
	margin:15px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.box-content form input[type=text],
.box-content form input[type=password]
{
	margin-top:8px;
	font-size: 16px;
	font-weight: normal;
	color: black;
	width: 100%;
	height: 40px;
	border: 1px solid #ccc;
	padding-left: 8px;
}

.box-content form textarea{
	margin-top:8px;
	font-size: 16px;
	font-weight: normal;
	color: black;
	width: 100%;
	height: 150px;
	border: 1px solid #ccc;
	padding: 8px;
	resize: vertical;
    min-height: 300px;
    max-height: 1000px;
}

.box-content form select{
	margin-top:8px;
	font-size: 16px;
	font-weight: normal;
	color: black;
	width: 100%;
	height: 40px;
	border: 1px solid #ccc;
	padding-left: 8px;
}

.box-content form input[type=number]{
    margin-top:8px;
	font-size: 16px;
	font-weight: normal;
	color: black;
	width: 20%;
	height: 40px;
	border: 1px solid #ccc;
	padding-left: 8px;
}

.box-content form input[type=file]{
	margin-top:8px;
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
}

.box-content form input[type=submit]{
	width: auto;
    padding: 0 5px;
	height: 40px;
	cursor: pointer;
	margin-top: 10px;
	font-size: 16px;
	background: #00bfa5;
	color: white;
	border: 0;
}

section.carrinho .container{
    margin: 30px auto;
    max-width: 1280px;
}

section.carrinho h2{
    color: #3d3d3d;
    font-size: 22px;
}

section.carrinho .comprar{
    margin: 90px auto 10px auto;
    text-align: center;
}

section.carrinho .comprar input[type=submit]{
    padding: 4px 4px;
}