RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
</IfModule>
Options -Indexes